.container
  max-width: 1366px
  margin: auto
.header
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: 60px
  &__right-link
    width: 20px
    height: 20px
    margin-right: 20px
.nav
  display: flex
  align-items: center
  justify-content: space-between
  &__wrapper
    width: 30%
.logo
  &__wrapper
    display: flex
    justify-content: center
    align-items: center
    height: 20px
    width: 30%
  &__image
    max-height: 60px
.search
  &__wrapper
    width: 30%
    display: flex
    justify-content: flex-end
    align-items: center
